<section>
  <p-card header="{{currentMovie?.title}}" subheader="IMDb Rating: {{currentMovie.vote_average | number:'1.1-2'}}"
    [style]="{ width: '360px' }">
    <ng-template pTemplate="header">
      <img src="https://image.tmdb.org/t/p/w500/{{ currentMovie?.poster_path }}" width="auto" height="500" />
    </ng-template>
    <p>
      {{currentMovie.overview}}
    </p>
    <!-- <ng-template pTemplate="footer">
    </ng-template> -->
  </p-card>
  <div>
    <button pButton (click)="dislike()">Dislike</button>
    <button pButton (click)="like()">Like</button>
  </div>
</section>